.anim-slide-right {
    animation-name: animSlideFromRight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin-left: 100%;
}

.anim-opacity {
    animation-name: animOpacity;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes animSlideFromRight {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0;
    }
}

@keyframes animOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}